@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 43, 36, 46;
    --color-primary-border: 23, 16, 26;
    --color-primary-hover: 63, 56, 66;
}

@layer base {
    input[type="checkbox"], input[type="radio"] {
        @apply border-neutral-300;
    }

    [type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
        @apply border-neutral-300;
    }
}